:root {
    --main-font-color: #1C1C1E;
    --second-font-color: #C5C5C5;
    --third-font-color: #8e8e93;
    --forth-font-color: #5E5D65;
    --fifth-font-color: #44444C;
    --sixth-font-color: #064BB4;
    --font-white-color: #FFFFFF;
    --background: #F9F9FB;
    --second-background-color: #064BB4;
    --footer-bacground-color: #08172d;
    --card_background-color: #FFFFFF;
    --accent: #BCFF5E;
    --border: #E9EBED;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

body {
    background-color: var(--background);
}

.container {
    width: 78.125vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.first_screen {
    padding-top: 160px;
}

.first_screen .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first_screen .container .main_contact_box {
    width: 48.387vw;
}

.first_screen .container .main_contact_box .resource_btn {
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: var(--main-font-color);
    border: 1px solid var(--border);
    border-radius: 20px;
}

.first_screen .container .main_contact_box h2 {
    margin: 16px 0 40px;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: 0.24px;
}

.first_screen .container .main_contact_box .box_description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.first_screen .container .main_contact_box h3 {
    height: 28px;
    margin-top: 24px;
    display: flex;
    align-items: center;
    color: var(--fifth-font-color);
    padding-left: 28px;
    border-left: 4px solid var(--border);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.first_screen .container .main_contact_box h3 span {
    color: var(--second-font-color);
    padding-left: 4px;
    font-size: 16px;
}

.first_screen .container .main_contact_box .about_training {
    margin-top: 24px;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.first_screen .container .main_contact_box ol li {
    margin-left: 23px;
}

.first_screen .container aside {
    width: 25.346vw;
}

.first_screen .container .social_media {
    display: flex;
    justify-content: end;
}

.first_screen .container .social_media img {
    padding-left: 10px;
}

.first_screen .container .aside_card {
    border-radius: 16px;
    border: 1px solid var(--border);
    padding: 32px;
}

.first_screen .container .aside_card h4 {
    color: var(--main-font-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.first_screen .container .aside_card h5 {
    margin-top: 40px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.first_screen .container .aside_card p {
    margin-top: 24px;
    color: var(--main-font-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.first_screen .container .aside_card span {
    width: 20.869vw;
    display: block;
    margin-top: 16px;
    padding-bottom: 16px;
    color: var(--forth-font-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
    border-bottom: 1px solid var(--border);
}

.first_screen .container .aside_card .accardion_title {
    margin-top: 48px;
}

.first_screen .container .aside_card summary::-webkit-details-marker {
    display: none;
}

.first_screen .container .aside_card summary::after {
    content: '▶';
    float: right;
    margin-left: auto;
}

.first_screen .container .aside_card details[open] summary::after {
    content: '▼';
}

.first_screen .container .aside_card details {
    width: 21.174vw;
    margin-top: 24px;
}

.first_screen .container .aside_card details summary {
    background-color: var(--background);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.first_screen .container .aside_card details p {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: var(--forth-font-color);
    border-radius: 16px;
    border: 1px solid var(--border);
}

.feedback {
    margin-bottom: 120px;
}

.feedback .container .review_box {
    width: 48.483vw;
    margin-top: 64px;
    padding: 2.111vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--card_background-color);
    border-radius: 16px;
    border: 1px solid var(--border);
}

.feedback .container .review_box article {
    width: 39.512vw;
    margin-left: 16px;
}

.feedback .container .review_box article span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: var(--second-font-color); 
}

.feedback .container .review_box article .client_review {
    margin-top: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
}

.feedback .container .review_box article .client {
    display: flex; 
    align-items: center;
}

.feedback .container .review_box article .client_photo {
    margin: 32px 12px 0 0;
}

.feedback .container .review_box article .personal_info {
    width: 7.586vw;
    margin-top: 32px;
}

.feedback .container .review_box article .personal_info p {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.005em;
}

.feedback .container .review_box article .personal_info span {
    color: var(--main-font-color);
    margin-top: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.07px;
}

.discover_box {
    background-color: var(--second-background-color);
}

.discover_box .container {
    padding: 80px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discover_box .container article {
    width: 48.177vw;
}

.discover_box .container article h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.005em;
    color: var(--font-white-color);
}

.discover_box .container article p {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: var(--font-white-color);
}

.discover_box .container aside {
    width: 29.948vw;
}

.discover_box .container aside a {
    width: 11.068vw;
    height: 56px;
    padding: 16px 40px;
    margin: 44px 0 44px 290px;
    color: var(--main-font-color);
    background: var(--accent);
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
}