* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

body {
  background-color: #f9f9fb;
}

.container {
  width: 78.125vw;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* header style */
header nav .nav_menu .menu_categories li:nth-child(2) a {
  color: var(--main-font-color);
}
/* end header style */

.first_screen {
    padding-top: 120px;
    padding-bottom: 120px;
}

.first_screen .container {
    display: flex;
    justify-content: space-between;
}

.first_screen main {
    width: 46.940vw;
}

.first_screen main h2 {
    font-weight: 500;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: 0.005em;
}

.first_screen main h2 span {
    font-weight: 400;
}

.first_screen main .short_description {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
}

.first_screen .container main .result_box {
    width: 40.169vw;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.first_screen .container main .result_box .flex_box {
    padding: 12px;
    display: flex;
    align-items: center;
}

.first_screen .container main .result_box .flex_box p {
    margin-left: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #064BB4;
}

.first_screen .container main .result_box .flex_box p span {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #AEAEB2;
}

.first_screen .container main iframe {
    margin-top: 4.3vh;
    width: 46.940vw;
    height: 31.87vw;
    border-radius: 16px
}

.first_screen .container main h3 {
    margin-top: 4.3vh;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.005em;
}

.first_screen .container main .text_description {
    margin-top: 2.15vh;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #636366;
}

.first_screen .container main ol{
    margin-left: 1.302vw;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #636366;
}

.first_screen .container aside {
    width: 25.977vw;
    height: 29.776vw;
    margin-top: 11.458vw;
    display: block;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 1.563vw;
}

.first_screen .container aside h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.005em;
}

.first_screen .container aside p {
    margin: 1.075vh 0 4.3vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #636366;
}

.first_screen .container aside ul li {
    margin-bottom: 2.15vh;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
}

.first_screen .container aside ul li span {
    color: #8E8E93;
    margin: 0 0.3vw 0 0.781vw;
}

.first_screen .container aside .btn {
    width: 22.852vw;
    margin-top: 2.15vh;
    padding: 16px 8.301vw;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    background: #BCFF5E;
    border-radius: 24px;
    border: none;
}

.second_screen {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second_screen .container .btn {
  width: 5.143vw;
  height: 38px;
  margin: 0 auto;
  display: block;
  border: 1px solid #e9ebed;
  background-color: #f9f9fb;
  border-radius: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #064bb4;
}

.second_screen .container h2 {
  margin-top: 16px;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.005em;
}

.second_screen .container .review_box {
  width: 44.010vw;
  margin: 48px auto 0;
  display: flex;
  justify-content: space-between;
}

.second_screen .container .review_box article {
  width: 39.323vw;
}

.second_screen .container .review_box article span {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #aeaeb2;
}

.second_screen .container .review_box article .client_review {
  margin-top: 16px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.005em;
}

.second_screen .container .review_box article .client {
  display: flex;
  align-items: center;
}

.second_screen .container .review_box article .client_photo {
  margin: 32px 12px 0 0;
}

.second_screen .container .review_box article .personal_info {
  width: 6.510vw;
  margin-top: 32px;
}

.second_screen .container .review_box article .personal_info p {
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  letter-spacing: 0.005em;
}

.second_screen .container .review_box article .personal_info span {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  /* line-height: 22px; */
  letter-spacing: 0.005em;
}

.second_screen .container .carousel_menu {
  width: 8.333vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px auto 0;
}

.second_screen .container .carousel_menu .points {
  width: 2.604vw;
  display: flex;
  justify-content: space-between;
}

.second_screen .container .carousel_menu .points div {
  width: 8px;
  height: 8px;
  background-color: #e9ebed;
  border-radius: 100%;
}

.second_screen .container .carousel_menu .points div:first-child {
  width: 16px;
  height: 8px;
  background-color: #064bb4;
  border-radius: 8px;
}

.second_screen .container .carousel_menu button {
  border: none;
  background-color: #f9f9fb;
}