:root {
    --main-font-color: #1C1C1E;
    --second-font-color: #C5C5C5;
    --third-font-color: #8e8e93;
    --forth-font-color: #5E5D65;
    --fifth-font-color: #44444C;
    --sixth-font-color: #064BB4;
    --font-white-color: #FFFFFF;
    --background: #F9F9FB;
    --second-background-color: #064BB4;
    --footer-bacground-color: #08172d;
    --card_background-color: #FFFFFF;
    --accent: #BCFF5E;
    --border: #E9EBED;
}

* {
    font-family: "General Sans";
}

button {
    cursor: pointer;
}

a {
    color: #064BB4;
}

body.show-confirm-login-modal .confirm_login_backdrop_modal {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-confirm-login-modal .modal {
    transform: scale(1);
}

.confirm_login_modal .confirm_login_backdrop_modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal {
    width: 596px;
    padding: 48px;
    background: #ffffff;
    box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.08);
    border-radius: 24px;
    position: relative;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .exit-btn {
    width: 32px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #F9F9FB;
    box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.1);
    border-radius: 32px;
    border: none;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .exit-btn img {
    padding: 4px;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .logo-img {
    display: block;
    margin: 0 auto;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal h2 {
    width: 100%;
    margin-top: 32px;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.005em;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .description {
    margin: 12px 0 48px;
    color: var(--forth-font-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.08px;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .flex_box {
    display: flex;
    margin-bottom: 32px;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal .flex_box input {
    width: 24px;
    height: 24px;

}

.confirm_login_modal .confirm_login_backdrop_modal .modal .flex_box p {
    margin-left: 12px;
    color: var(--forth-font-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.09px;
}

.confirm_login_modal .confirm_login_backdrop_modal .modal input[type="radio"] {
    position: absolute;
    opacity: 0;
}

/* Стилізація кастомного radio button */
.confirm_login_modal .confirm_login_backdrop_modal .modal .custom_radio {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--card_background-color);
    cursor: pointer;
}

/* Зміна стилю при натисканні */
.confirm_login_modal .confirm_login_backdrop_modal .modal input[type="radio"]:checked+.custom_radio {
    background-color: var(--second-background-color);
    background-image: url(../../gallery/icons/modal/check.png);
    background-size: 17.5px;
    background-position: center;
}


.confirm_login_modal .confirm_login_backdrop_modal .modal .security_code_btn {
    width: 100%;
    height: 56px;
    margin-top: 8px;
    background: var(--accent);
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: #1C1C1E;
}

@media screen and (max-width: 992px) {
    .confirm_login_modal .confirm_login_backdrop_modal .modal {
        width: 60vw;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal h2 {
        width: 80%;
        margin: 32px auto 0;
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .confirm_login_modal .confirm_login_backdrop_modal .modal {
        padding: 26px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal h2 {
        width: 80%;
        margin-top: 16px;
        font-size: 24px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .flex_box p {
        font-size: 16px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .description {
        margin-bottom: 16px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .security_code_btn {
        height: 48px;
    }
}

@media screen and (max-width: 576px) {
    .confirm_login_modal .confirm_login_backdrop_modal .modal {
        width: 75vw;
        padding: 22px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal h2 {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .description {
        margin: 16px 0;
        font-size: 14px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .flex_box p {
        font-size: 14px;
    }

    .confirm_login_modal .confirm_login_backdrop_modal .modal .security_code_btn {
        height: 42px;
        margin-top: -12px;
    }
}